/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
.content {
    padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    margin: 0 auto;
    width: 970px;
    height: 70px;
}
.top-navigation .logo {
    height: 70px;
}
NOTE: we moved the border-box declaration into the reset's styles as it's useful to have on many elements.

Also -- take a look at that .top-navigation > .content { rule.. does it really need to be so specific? Maybe we want some .content areas that aren't inside the .top-navigation to have the same rules applied?

Our HTML is very simple, just a nav block, a logo and a list of navigation items:

<nav class="top-navigation">
    <div class="content">
        <ul class="links">
            <li class="active">Meet Karma</li>
            <li>How it Works</li>
            <li>Store</li>
            <li>Blog</li>
            <li>Help</li>
            <li>Login</li>
        </ul>
        <img class="logo" src="img/karma-logo.svg" alt="Logo Image" width="26px">
    </div>
</nav>
We put the ul.links above the img.logo as it's a best practice to have floating elements above non floating elements.

Finally, our navigation link specific area, although we haven't used real links, feel free to add <a> tags inside the <li> items.

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}